<div class="card">
    <div class="card-header">
        <h5>Erstellen Sie eine neue Buchung</h5>
    </div>
    <div class="card-body">
        <form>
 
            <div class="row mb-2">
                <div class="col">
                    <!-- id -->
                    <label class="form-label">Id</label>
                    <input class="form-control">
                </div>
        
                <div class="col">
                    <!-- Raumnummer -->
                    <label class="form-label">Raumnummer</label>
                    <input class="form-control">
                </div>
            </div>
        
            <div class="row mb-2">
                <div class="col-4">
                    <!-- Name -->
                    <label class="form-label">Name</label>
                    <input class="form-control">
                </div>
            </div>
        
            <div class="row">
                <div class="col">
                    <!-- startDate -->
                    <label class="form-label">Start Datum</label>
                    <input class="form-control">
                </div>
        
                <div class="col">
                    <!-- endDate -->
                    <label class="form-label">End Datum</label>
                    <input class="form-control">
                </div>
            </div>
        
        
        
          </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary">Abschicken</button>
    </div>
</div>
